%h1 #{@store.name.capitalize}'s configs

%table.table.table-striped
  %thead
    %tr
      %th Key
      %th Value
      %th
  %tbody
    - @pairs.each do |pair|
      %tr
        %td= pair.key
        %td= pair.value
        %td 
          = link_to 'Show', organization_store_pair_path(@store.organization, @store, pair), class: 'btn'
          = link_to 'Edit', edit_organization_store_pair_path(@store.organization, @store, pair), class: 'btn'
          = link_to 'Destroy', organization_store_pair_path(@store.organization, @store, pair), :confirm => 'Are you sure?', :method => :delete, class: 'btn'

= link_to 'New Pair', new_organization_store_pair_path(@store.organization, @store), class: 'btn'
= link_to 'Back', organization_stores_path(@store.organization), class: 'btn'