%p#notice= notice

%p
  %b Key:
  = @pair.key
%p
  %b Value:
  = @pair.value

= link_to 'Edit', edit_organization_store_pair_path(@store.organization, @store, @pair)
\|
= link_to 'Back', organization_store_pairs_path(@store.organization, @store)
