%h1 Listing stores

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @stores.each do |store|
    %tr
      %td= store.name
      %td= link_to 'Show', organization_store_path(@organization, store)
      %td= link_to 'Edit', edit_organization_store_path(@organization, store)
      %td= link_to 'Destroy', organization_store_path(@organization, store), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Store', new_organization_store_path(@organization)
\|
= link_to 'Back', organization_path(@organization)
