%h1 Listing organizations

%table.table.table-striped
  %thead
    %th Name
    %th
  %tbody
    - @organizations.each do |organization|
      %tr
        %td= organization.name
        %td
          = link_to 'Show stores', organization_stores_path(organization), class: 'btn'
          = link_to 'Edit', edit_organization_path(organization), class: 'btn'
          = link_to 'Destroy', organization, :confirm => 'Are you sure?', :method => :delete, class: 'btn'

= link_to 'New Organization', new_organization_path, class: 'btn'
